{% extends 'base.html' %}

{% block content %}
  <h1>Edit Expense</h1>
    <p hidden>{{ event.slug }}</p>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
</form>
  {% if event_slug %}
      <br>
      <a href="{% url 'event_detail' event_slug=event_slug %}" class="btn">Cancel</a>
  {% else %}
      <!-- Handle the case when event.slug is empty -->
      <!-- You can display a message or redirect to a different page -->
  {% endif %}
{% endblock %}